.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4d4d4d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    margin-top:10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4d4d4d;
    color: white;
    padding: 5px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #999999;
}

.korpa {
    padding: 0;
    border: none;
    background: none;
    float: right;
}

body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    float: none;
    margin: 0 auto 10px;
}

.karte {
    border-radius: 25px;
    background: url(../images/ticket.png);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

input {
    outline: none;
    border: #454d55;
    background: #ECF0F1;
}

.labele {
    float: right;
}

label {
    float: left;
    color: #808080;
}

.btn {
    margin: auto;
    display: block;
}

a {
    color: blue;
    text-decoration: underline;
}

.odustanak {
    background-color: red;
    border: none;
    color: white;
    margin-right: 60px;
    margin-left: 344px;
    font-size: 12px;
    margin-top: 5px;;
}

.tipKarte {
    text-align: center;
    font-size:12px;
}

.prikaz_card {
    display: flex;
    align-items: center;
    justify-content: center;
}