input {
    outline: none;
    border: #454d55;
    background: #ECF0F1;
}

.labele {
    float: right;
}

label {
    float: left;
    color: #808080;
}

.btn {
    margin: auto;
    display: block;
}

a {
    color: blue;
    text-decoration: underline;
}